/Fundamentos/Variables/nbproject/private/
/Fundamentos/Variables/build/
/Fundamentos/003-Caracteres_especiales/nbproject/private/
/Fundamentos/003-Caracteres_especiales/build/
/Fundamentos/004-Escanner/nbproject/private/
/Fundamentos/004-Escanner/build/
